 
.InfoRow{
    /*Note: a box shadow will NOT be shown in a table row!*/
	/*font-size: 12px;*/
    font-size:1.1em;
	white-space: nowrap;
	display: table-row;
    -webkit-user-select: none;  
    -moz-user-select: none;    
     user-select: none;  
}

#channel_contents div { 
	font-size:1.3em;
    white-space:nowrap 
}


